.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    margin-top: 15px;
    padding: 0!important;
}

.pagination a {
    padding: 5px 10px;
    margin: 10px;
    border-radius: 50px;
    border: 1px solid #732F2F;
    color: #732F2F;
    font-family: "Montserrat";
}

.pagination__link {
    font-weight: bold;
}

.pagination__link__active a {
    color: white!important;
    background: #732F2F;
}

.pagination__link__disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
}
